<div id="sparklis-view" class="panel-group">
    <div id="queryNL" class="panel panel-info">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse-queryNL">
                    <span class="texte lang-en">Your query in <span class="highlighted">natural language</span> :</span>
                    <span class="texte lang-fr">Votre requête en <span class="highlighted">langage naturel</span> :</span>
                    <span class="texte lang-es">Tu consulta en <span class="highlighted">lenguaje natural</span> :</span>
                    <span class="texte lang-nl">Uw query in <span class="highlighted">natuurlijke taal</span> :</span>
                </a>
            </h5>
        </div>

        <div id="Messages">
        </div>
        <div id="chatInput">

            <label for="userInput"> </label><input id="userInput">
            <div id="sendButton"></div>
            <!--<i class="glyphicon glyphicon-send"></i>-->
            <input id="send" type="submit">

        </div>
    </div>
</div>